<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
        
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>GigForMe.Servlets.CookieFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>GenUserCookieFilter</filter-name>
        <filter-class>GigForMe.UserServlets.GenUserCookieFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>GenUserCookieFilter</filter-name>
        <url-pattern>/edit_profile.jsp</url-pattern>
        <url-pattern>/request_gig.jsp</url-pattern>
        <url-pattern>/CreateGig</url-pattern>
        <url-pattern>/ViewProfile</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
    </filter-mapping>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/Error404.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/Error500.jsp</location>
    </error-page>
    <filter>
        <filter-name>BandFilter</filter-name>
        <filter-class>GigForMe.BandServlets.BandFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>BandFilter</filter-name>
        <url-pattern>/band_profile.jsp</url-pattern>
        <url-pattern>/ViewBand</url-pattern>
        <url-pattern>/EditBandProfile</url-pattern>
        <url-pattern>/EditBandProfile.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.AllUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/Admin/UserManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.UserSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/Admin/UserSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/Admin/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBandProfileServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.EditBandProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBandProfileServlet</servlet-name>
        <url-pattern>/Admin/EditBandProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/Admin/UpdateProfile</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddVenueServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.AddVenueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVenueServlet</servlet-name>
        <url-pattern>/Admin/AddVenueServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VenueManagementServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.AllVenuesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VenueManagementServlet</servlet-name>
        <url-pattern>/Admin/VenueManagement</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GigManagementServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.AllGigsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GigManagementServlet</servlet-name>
        <url-pattern>/Admin/GigManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BandManagementServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.AllBandsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BandManagementServlet</servlet-name>
        <url-pattern>/Admin/BandManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>GigForMe.Utils.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/Admin/UserDelete</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BandDeleteServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.BandDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BandDeleteServlet</servlet-name>
        <url-pattern>/Admin/BandDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserBanServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.UserBanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBanServlet</servlet-name>
        <url-pattern>/Admin/UserBan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUnbanServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.UserUnbanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUnbanServlet</servlet-name>
        <url-pattern>/Admin/UserUnban</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Admin/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BandSearchServlet</servlet-name>
        <servlet-class>GigForMe.Servlets.BandSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BandSearchServlet</servlet-name>
        <url-pattern>/Admin/BandSearch</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            3600
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
